flask
flask-cors
flask-sqlalchemy
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
pymysql
sqlalchemy
torch
transformers
python-whois
SpeechRecognition
pydub
requests
cachetools
deep-translator
langdetect
beautifulsoup4
playwright
selenium
